<h2>{{ Title }}</h2>
<p>På denne side bliver tredje parten vist. </p>
<p>Da vi ikke har kunne bruge DMI, har vi brugt UndergroundWeather</p>
<hr>
        <table class="table table-striped table-hover">
            <h3>Roskilde</h3>
            <tr>
                <td>Temperatur</td><td>{{ Weather }}°C</td>
            </tr>
            <tr>
                <td>Luftfugtighed</td><td>{{ Humidity }}%</td>
            </tr>
            <tr>
                <td>Solopgang</td><td>{{ sunrise }}</td>
            </tr>
            <tr>
                <td>Solnedgang</td><td>{{ sunset }}</td>
            </tr>
            <tr>
                <td>Vindstyrke</td><td>{{ windspeed }}m/s</td>
            </tr>
        </table>

